<div class="main-wrapper">
    <div class="transparent-white-container">
      <div class="container-fluid">
        <!-- xxxxx -->
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">First name</th>
              <th scope="col">Last name</th>
              <th scope="col">Msg</th>                   
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Rahul</td>
              <td>Kumar</td>
              <td>Hello hi</td>                    
            </tr>
          </tbody>
        </table>
        <!-- xxxxx -->
      </div>
    </div>
  </div>