<div class="main-wrapper">
    <div class="transparent-white-container">
      <div class="container-fluid">
        <!-- xxxxx -->
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">First name</th>
              <th scope="col">Last name</th>
              <th scope="col">Number</th>                   
            </tr>
          </thead>
          <tbody>
            <tr *ngFor ="let item of data">
              <ng-container *ngIf="item.isMessageSend">
              <td>{{item.FirstName}}</td>
              <td>{{item.LastName}}</td>
              <td>{{item.Number}}</td>        
            </ng-container>            
            </tr>
          </tbody>
        </table>
        <!-- xxxxx -->
      </div>
    </div>
  </div>