
	<nav class="own-navbar  d-md-block">
	<ul class="nav nav-tabs">
		<li class="nav-item">
		  <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['']">Contact</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['send-msg']">Recent Send Msg</a>
		</li>	
		<!-- <li class="nav-item">
				<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Add Contact</button>
			  </li> -->
	  </ul>
	</nav>